/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
.announcement-wrapper {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(226, 226, 226);
    border-radius: 20px;
  }
  &::-webkit-scrollbar-track {
    background: rgb(247, 247, 247);
    border-radius: 20px;
  }
}
/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: 'Poppins';
}
header {
  background: #fff;
  max-width: 100%;
}
header .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;

  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 100%;
}

label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: 'Poppins';
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  margin-bottom: 20px;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: 'Poppins';
  cursor: pointer;
  font-size: 1em;
}

.role_adjust select {
  margin-left: 50px;
}

/* auth forms */
form.signup,
form.login,
form.addTraining {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

form.signup select {
  margin-left: 10px;
  display: inline-block;
}

#h3 {
  width: 100%;
  height: 2%;
  background-color: red;
  text-align: center;
}
.eventPageContainer {
  width: 100%;
  height: 500vh;
  border: 4px solid;
}
.eventsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin-top: 100px;
}
#eventLink {
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}
.event {
  height: 8%;
  width: 100%;
  background-color: #1abc9c;
  text-align: left;
  padding-top: 25px;
  padding-left: 50px;
  border: 2px solid;
}
.eventContent {
  height: 10%;
  width: 100%;
  margin-top: 40%;
  background-color: #fff;
  font-size: 30px;

  text-align: left;

  display: grid;
  grid-template-areas:
    'h3 img'
    'content img';
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
}
.eventContent .eventHeader {
  grid-area: h3;
  border: 2px solid blue;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 50px;
  font-size: 35px;
}
.eventContent .eventContent2 {
  padding-top: 30px;
  padding-left: 30px;
  grid-area: content;
  border: 2px solid green;
  font-size: 25px;
}
.eventContent .eventImage {
  grid-area: img;
  border: 2px solid red;
}
.eventImage img {
  max-width: 100%;
  height: 100%;
}

form.signup p {
  display: inline-block;
}

/* student page */
* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
body {
  font-family: Verdana, sans-serif;
}

.calendar {
  height: 30vh;
  width: 100%;
}
.calendar h1 {
  background-color: #fff;
  height: 25%;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  border-top: 2px solid;
}
ul {
  list-style-type: none;
}
body {
  font-family: Verdana, sans-serif;
}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
  margin-left: 50px;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  margin-left: 50px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  padding-top: 15px;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
  height: 50px;
  border: 2px solid;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important;
}
body {
  background-color: #e2e1e6;
}
.top {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
}

.profileContainer {
  margin-left: 70%;
  width: 15%;
  height: 25vh;

  border-right: none;
  display: flex;
  flex-direction: column;
  position: absolute;
}
#userBox {
  background-color: #1abc9c;
  width: 100%;
  height: 33%;
  border-bottom: 2px solid;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}
#profileBox {
  background-color: #1abc9c;
  width: 100%;
  height: 33%;
  border-bottom: 2px solid;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

#logoutBox {
  background-color: #1abc9c;
  width: 100%;
  height: 33%;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}
#userBox:hover {
  color: crimson;
  cursor: pointer;
}
#profileBox:hover {
  color: crimson;
  cursor: pointer;
}
#logoutBox:hover {
  cursor: pointer;
  color: crimson;
}
.personalDataBox {
  width: 15%;
  height: 25vh;
  margin-left: -230px;
  /*margin-left: 70px;*/

  display: flex;
  flex-direction: column;
  /*border-radius: 25%;*/
  border-left: none;
  position: absolute;
}
#announcementBox {
  background-color: #1abc9c;
  width: 100%;
  height: 33%;
  border-bottom: 2px solid;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
}
#eventBox {
  background-color: #1abc9c;
  width: 100%;
  height: 33%;
  border-bottom: 2px solid;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
}
#developmentBox {
  background-color: #1abc9c;
  width: 100%;
  height: 33%;
  display: grid;
  justify-content: center;
  align-items: center;
}
#announcementBox:hover {
  color: crimson;
  cursor: pointer;
}
#eventBox:hover {
  color: crimson;
  cursor: pointer;
}
#developmentBox:hover {
  color: crimson;
  cursor: pointer;
}
.informationContainer {
  width: 100vh;
  height: 80vh;
  background-color: #fff;
  margin: auto;
  margin-top: 10%;
}
#infoBox {
  padding-left: 20px;
  padding-top: 20px;
  width: 100%;
  height: 25%;
}

/* student page */
* {
  margin: 0;
}

.introImage {
  width: 100%;
  height: 100vh;

  background-image: url('./img/510026.jpg');
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
  box-shadow: inset 80px 60px 150px #000000, inset -80px -60px 150px #000000;

  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
}
.nav {
  width: 100%;
  height: 10vh;
  box-sizing: border-box;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 5%;
  color: #fff;
  background-color: black;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
}
.welcome {
  height: 30vh;
  width: 35%;
  top: 50%;
  left: 32%;

  color: #b3b0aa;
  position: absolute;
  z-index: 2;
}
#welcomeMessage {
  height: 20%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
}
#projectName {
  height: 60%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
}
#greetings {
  height: 20%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
}
.aboutDescription {
  width: 100%;
  height: 70vh;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}
.infoBox {
  width: 25%;
  height: 80%;

  background-color: #fff;
  color: black;
  display: flex;

  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.infoBox h1 {
  padding-top: 15%;
  width: 100%;
  height: 10%;
  text-align: center;
  /*background-color: aqua;*/
}

.infoBox p {
  padding-top: 20%;

  width: 100%;
  height: 90%;
  /*background-color: red;*/
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.purposeDescription {
  width: 100%;
  height: 70vh;
  display: flex;
  background-color: #000000;
  flex-direction: row;
  justify-content: center;
}
.purposeDescription img {
  width: 40%;
  height: 100%;
}
.description {
  width: 40%;
  height: 100%;
}
.description h1 {
  text-align: center;
  color: #fff;
  padding-top: 10%;
  margin-top: 10%;
}
.description p {
  color: #fff;
  padding-left: 10%;
  padding-top: 10%;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.skillContainer {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}
.skills {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 90%;

  display: grid;
  grid-template-areas:
    ' header header header '
    ' pic1 pic2 pic3 '
    ' pic4 pic5 pic6 ';
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 20% 40% 40%;
}
#space {
  width: 100%;
  height: 20vh;
  background-color: #fff;
  border-bottom: 2px solid;
}
.link {
  width: 15%;
  height: 40%;
  margin-left: 70%;
  border-radius: 10%;
  background-color: #21b84c;
}
.skillLink {
  width: 100%;
  height: 100%;
  font-size: 25px;
  margin-left: 40px;

  font-weight: 600;
}
.skills h1 {
  color: black;
  grid-area: header;
  text-align: center;
  /*border: 4px solid;
  border-color: red;*/
  padding-top: 50px;
}
#img1 {
  grid-area: pic1;
}
#img1 img {
  width: 100%;
  height: 90%;
}
#img1 h3 {
  width: 100%;
  height: 10%;
  text-align: center;
}

#img2 {
  grid-area: pic2;
}
#img2 img {
  width: 100%;
  height: 90%;
}
#img2 h3 {
  width: 100%;
  height: 10%;
  text-align: center;
}
#img3 {
  grid-area: pic3;
}
#img3 img {
  width: 100%;
  height: 90%;
}
#img3 h3 {
  width: 100%;
  height: 10%;
  text-align: center;
}
#img4 {
  grid-area: pic4;
}
#img4 img {
  width: 100%;
  height: 90%;
}
#img4 h3 {
  width: 100%;
  height: 10%;
  text-align: center;
}
#img5 {
  grid-area: pic5;
}
#img5 img {
  width: 100%;
  height: 90%;
}
#img5 h3 {
  width: 100%;
  height: 10%;
  text-align: center;
}
#img6 {
  grid-area: pic6;
}
#img6 img {
  width: 100%;
  height: 90%;
}
#img6 h3 {
  width: 100%;
  height: 10%;
  text-align: center;
}
.announcementsContainer {
  width: 100%;
  height: 85vh;
  background-color: #fff;
}
.announcements {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.announcements h1 {
  width: 100%;
  height: 10%;
  text-align: center;
  padding-top: 40px;
}
.announcements .news {
  width: 100%;
  height: 90%;

  display: flex;
  justify-content: space-between;
}
.news .announcementBox1,
.announcementBox2,
.announcementBox3 {
  width: 30%;
  height: 100%;
}
.announcementBox1 img {
  width: 100%;
  max-height: 50%;
}
.eventDate1 {
  width: 100%;
  height: 5%;
  color: #000000;
  text-align: center;
  margin-top: 5%;
}
.eventDate1 h4 {
  padding-top: 15px;
}
#link {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  text-decoration-line: none;
}
.eventName1 {
  width: 100%;
  height: 5%;
  color: black;
}
.eventName1:hover {
  color: #21b84c;
  cursor: pointer;
}
.eventName2:hover {
  color: #21b84c;
  cursor: pointer;
}
.eventName3:hover {
  color: #21b84c;
  cursor: pointer;
}
.eventName1 h2 {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.eventDescription1 {
  height: 40%;
  width: 100%;
  margin-top: 10%;
}
.eventDescription1 p {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

.announcementBox2 img {
  width: 100%;
  max-height: 50%;
}
.eventDate2 {
  width: 100%;
  height: 5%;
  color: #000000;
  text-align: center;
  margin-top: 5%;
}
.eventDate2 h4 {
  padding-top: 15px;
}
.eventName2 {
  width: 100%;
  height: 5%;
  color: black;
}
.eventName2 h2 {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.eventDescription2 {
  height: 40%;
  width: 100%;
  margin-top: 10%;
}
.eventDescription2 p {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}

.announcementBox3 img {
  width: 100%;
  max-height: 50%;
}
.eventDate3 {
  width: 100%;
  height: 5%;
  color: #000000;
  text-align: center;
  margin-top: 5%;
}
.eventDate3 h4 {
  padding-top: 15px;
}
.eventName3 {
  width: 100%;
  height: 5%;
  color: black;
}

.eventName3 h2 {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.eventDescription3 {
  height: 40%;
  width: 100%;
  margin-top: 10%;
}
.eventDescription3 p {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}
.teacherContainer {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding-top: 5%;
}
.teacherContainer h1 {
  width: 100%;
  height: 10%;
  text-align: center;
}
.coachContainer {
  width: 80%;
  height: 90%;
  margin-left: 10%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.coachInformation {
  width: 22%;
  height: 80%;
}
.coachInformation img {
  width: 100%;
  max-height: 90%;
}
.coachName {
  height: 12%;
  width: 70%;
  margin-left: 40px;
  padding-top: 20px;
  font-size: 21px;
  text-align: center;
  font-weight: 700;
}
.coachName:hover {
  cursor: pointer;
  color: #21b84c;
}
.coachRole {
  height: 6%;
  width: 50%;
  padding-top: 5px;
  font-size: 12px;
  font-style: italic;
  margin-left: 60px;

  text-align: center;
}
.coachInfo {
  color: #c7c1c1;
  height: 15%;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  padding-top: 10px;
}
